<footer class="p-v-xxl m-t-xl text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-muted">
            <p class="text-u-c text-lg l-s-2x">Share this event</p>
            <ul class="social_share list-inline text-xl m-b-lg">
                <li><a href="https://twitter.com/intent/tweet?text={{ site.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}{% if page.description %}&t={{ page.description | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ url }}&source=http%3a%2f%2fzhangwenli.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}&description={{ page.title }}" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
            </ul>
            <ul class="footer_nav list-inline text-sm font-open-sans p-t-xs">
              <li><a href="https://www.facebook.com/events/1707877516114278/" target="_blank">Event Page</a></li>
              <li><a class="scrollto" href="#ticket">Tickets</a></li>
              <li><a href="https://github.com/zafree/bpm2016" target="_blank">Star on github</a></li>
              <li>Crafted by <a class="hover" href="{{ site.author-site }}" target="_blank">{{ site.author }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ site.baseurl }}/dist/js/plugins.min.js"></script>
    <script src="{{ site.baseurl }}/dist/js/bpm2016.min.js"></script>
