<div id="preloader">
      <div class="item">
        <div class="center text-muted text-center">
          <div class="signal-wave"><span></span></div>
          <p class="text-base font-open-sans text-u-c font-normal l-s-1x">
            trying to connect you <br>
            keep smiling
          </p>
        </div>
      </div>
    </div>

    <header id="top-nav" class="bg-white navbar-fixed-top p-v-xs headroom">
      <div class="container">
        <div class="navbar-header">
          <button class="btn btn-link visible-xs pull-right m-r m-t-sm" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a href="#home" class="navbar-brand scrollto">
						<span class="hastag">#</span><span>B</span><span class="magic-1">UBT </span><span>P</span><span class="magic-2">rofessionals </span><span>M</span><span class="magic-3">EETUP </span>2016
					</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right hover h4 text-u-c">
            <li><a class="scrollto" href="#swags">Swags</a></li>
            <li><a class="scrollto" href="#venue">Venue</a></li>
            <li><a class="scrollto" href="#ticket">Registration</a></li>
            <li><a class="scrollto" href="#awesome">#BUBT<span class="text-n-c font-normal">Awesome</span></a></li>
            <li><a href="https://www.facebook.com/events/1707877516114278/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Go to facebook event page for more details"><i class="fa fa-facebook-official facebook"></i> <span class="text-base font-open-sans text-l-c font-normal l-s-1x">facebook event page</span></a></li>
          </ul>
        </div>
      </div>
    </header>
